body {
  font-family: lato, sans-serif;
  -webkit-font-smoothing: antialiased;
  color: #232323;
  height: 4000px;
}

nav li :last-child a {
  background: #FE5F1E;
}
nav li :last-child a:hover {
  background-color: #B23301;
}

section.hero {
  background: white;
}

.add-to-cart {
  border: 2px solid #FE5F1E;
  color: #FE5F1E;
}
.add-to-cart:hover {
  background: #FE5F1E;
  border-color: #fff;
  color: #fff;
}
