@import "./variables";

body{
    font-family: lato, sans-serif;
    -webkit-font-smoothing: antialiased;
    color: $dark;
    height: 4000px;
}

nav li :last-child a {
    background: $primary;
    &:hover {
        background-color: $primary-hover;
    }
}

section.hero {
    background: $secondary;
}
.add-to-cart {
    border: 2px solid $primary;
    color: $primary;
    &:hover{
        background: $primary;
        border-color: $pure;
        color: $pure;

    }
}
section.cart{
    background: $secondary;
    .amount{
        color: $primary;
    }
}
section.login{
    background: $secondary;
    min-height: calc(100vh-86px);
}














